*{
    margin: 0;
    padding: 0
  }
#Content {
    background-color: #a5f3fc;
    border: solid red;
}
/*sidebar stuff*/
.Sidebar {
    background-color: white;
    border: solid black;
    width: 275px;
    height: 100vh;

}
.sidebarIntegratedItem {
        display: flex;
        justify-content: space-between;
}
.sidebarLeftTopComponent {
        display: flex;
        align-items: center;
}
.SideBarItemRightComponent {
        display: flex;
}
.SideBarRightComponentButton {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.listCollapseButton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
}
.collapsed {
    display: none;
}
.uncollapsed {
    display: block;
}
/*sidebar popups*/
.newListCard {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 250px;
    width: 500px;
    border: solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}