#Content {
    background-color: #a5f3fc;
    border: solid red;
}
.Sidebar {
    background-color: white;
    border: solid black;

}
    .sidebarIntegratedItem {
        display: flex;
        justify-content: space-between;
    }
    .listCollapseButton {
        display: flex;
    }
    .collapsed {
    display: none;
    }
    .uncollapsed {
    display: block;
    }